#promoçoes
{
    text-align: center;
    color: red;
    
}
body
{
 background-image: url(../imagens/th.jpg);
 background-repeat: no-repeat;
 background-position: right;
}
#topo 
{
    color: red;
    background-color: white;
    text-align: center;
}